version: "3.9"

services:
  mina-status-monitor:
    container_name: mina-status-monitor
    build:
      context: .
      dockerfile: Dockerfile
    image: mina-status-monitor
    restart: always
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock"
    command: '/scripts/mina-status-monitor.sh -d ${DISABLE_SNARK_WORKER:-FALSE} -a ${SNARK_ADDRESS:-B62qkiJuTwdJBARAPGAvStuEa37kZVZPyDrQoUCuM7WQUmZZydNBmTf} -f ${SNARK_FEE:-0.001} -t ${TIMEZONE:-Asia/Ho_Chi_Minh}'
    pid: "host"
    networks:
      - mina-network

networks:
  mina-network:
    name: mina-network
    driver: bridge